/* prevent problems with different browsers */
* {box-sizing: border-box;}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    color: #27333c;
}

header {
    background-color: #Fbf5ea;
    display: flex;
    align-items: flex-end;
}

section {
    padding-bottom: 2.5rem;
}


header img {
    padding: .8rem .8rem .8rem 2rem ;
}

header div {
    padding-bottom: .8rem;
}

header h1 {
    margin: 0;
}

header p {
    padding: 0;
    margin: 0;
}


/* ---------navigation-------- */

/* ---------small screens-------- */
@media only screen and (max-width: 600px) {
    nav ul {
        list-style-type: none;
        padding: 0;
    }

    nav a {
        /*color: #27333c;*/
        display: block;
        text-decoration: none;
        text-align: center;
        font-size: 1.2rem;
        margin: 1rem;
        padding: .8rem;
        border-radius: 10px;
        background-image: linear-gradient(135deg, #ef8767, #56b1c2);
        color: #Fbf5ea;
    }

    nav .active a {
        text-decoration: dashed;
        border: 2px solid #ef8767;
        border-radius: 10px;
        background-image: linear-gradient(135deg, #ef8767, #Fbf5ea);
        color: #27333c;
    }

    nav li a:hover {
        background-image: linear-gradient(135deg, #56b1c2, #ef8767);
        color: #fbf5ea;
    }
}



/* ---------big screens-------- */
@media only screen and (min-width: 601px) {
    
    nav ul{
        display: flex;
        background-color: #Fbf5ea;
        list-style: none;
        padding: 1rem;
        justify-content: center;
        align-items: center;
    }


    nav a {
        display: flex;
        justify-content: center;
        padding: 1rem 0;
        color: #27333c;
        text-decoration: none;
        margin: 0 1rem;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 1.2rem;
        
    }


    nav .active a {
        color: #ef8767;
        text-decoration: dashed;
        border-bottom: 2px solid #ef8767;
    }

    nav li a:hover {
        color: #56b1c2;
    }

}

/* ---------main-------- */

main {
    padding: 1rem 10px;
}


.hero {
    width: 100%;
    margin: 0;
}

.hero img {
    width: 100%;
    height: auto;
}

.popularsection ul {
    border-radius: 2rem;
    background-color: #Fbf5ea;
    margin: 0 2rem;
    padding: 1rem 2rem;
}

.popular {
    display: flex;
    align-items: center;
    padding: 0;
}

li strong {
    color: rgba(239, 135, 103, 1);
    padding: 0;
    margin: 1rem;
}

.testimonials {
    display: flex;
    text-align: center;
}

.testimonial {
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.testimonial strong{
    color: #56b1c2;
}



/*---------destinations--------*/

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery figure {
    padding: 1rem;
    border: 2px solid rgba(39, 51, 60, .25);
    border-radius: .7rem;
    background-color: #Fbf5ea;
}

.gallery figcaption {
    text-align: center;
    margin: 1rem;
    padding: 0;
}

.gallery figure:hover {
    box-shadow: 0px 0px 20px #56b1c2;
}


/*---------Form----------*/

.myform fieldset {
    border: 1px solid #56b1c2;
    border-radius: .7rem;
    margin-bottom: 1rem;
    margin: 2rem;
}

.myform legend{
    color: #56b1c2;
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: .8rem;
}

.myform label {
    margin: .5rem;
}

.myform label, .myform select, .myform [type=text], .myform [type=tel], .myform textarea, .myform [type=email]{
    display: block;
}


.myform [type=text], .myform [type=tel], .myform select, .myform [type=email], .myform textarea{
    border: 1.5px solid rgba(39, 51, 60, .25);
    padding: .3rem;
    width: 250px;
    border-radius: .5rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

.myform [type=text], .myform [type=tel], .myform [type=email], .myform textarea{
    background-color: rgba(239, 135, 103, .15);
}

.myform textarea {
    height: 8rem;
    width: 350px;
}

.myform button {
    background-color: #ef8767;
    color: #Fbf5ea;
    border: none;
    border-radius: 10px;
    padding: 1rem 5rem;
    font-size: 2rem;
    margin: .5rem 3rem;
}

.myform button:hover {
    color: #27333c;
    box-shadow: 0 4px 8px rgba(39, 51, 60, .3);
}

/*---------Packages----------*/

.package {
    padding: 2rem 1rem ;
    background-color: #Fbf5ea;
    margin: 2.5rem 0;
    border-radius: 1rem;

}

.package:hover {
    box-shadow: 0px 0px 20px #56b1c2;
}


.package img {
    margin: 1.5rem;
}

.package h2 {
    padding-left: 1.5rem;
}

.packagedetails {
    display: flex;
}

/*---------Footer----------*/
footer {
    padding: 1rem 0;
    margin: 0;
    background-color: #Fbf5ea;
    text-align: center;
    clear: both;
}


header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}