body {
    font-family: "Roboto", serif;
    margin: 0;
}

/* header stuff here */
header {
    background-color: #eaeaea;
    padding: 1rem 10px;
}

header span{
    color: #aa1e24;
    font-size: 1.6rem;
    font-weight: 700;
}

/* navigation stuff here */
nav {
    background-color:#FF4848;
}
nav ul {
    margin: 0;
    padding: 0 10px;
    display: flex;
    list-style: none;
}

nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    color: #aa1e24;
    font-size: 1.1rem;
    font-weight: 700;
}

nav li.active a {
    background-color: #aa1e24;
    color: #FF4848;
}

nav li a:hover {
    color: #eaeaea;
}

/* main start here */
main {
    padding: 1rem 10px;
}

main h1 {
     color: #49494b;
}

main h2 {
    color: #aa1e24;
    margin-bottom: .2rem;
}

main p {
    margin: 0;
    color: #49494b;
}

main a {
    color: #aa1e24;
}

main a:hover {
    color: #FF4848;
}

main ol {
    padding: .5rem 30px;
    background-color: #eaeaea;
}

main dl dt{
    color: #49494b;
    font-weight: 700;
    margin-top: 1rem;
}

main dl dd{
    color: #aa1e24;
}

main ul {
    list-style: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address {
    background-color: #eaeaea;
    color: #49494b;
    width: 250px;
    padding: .5rem;
    border: 1px solid #aa1e24;
    border-radius: 10px;
    font-style: normal;
}

/* footer stuff here */
footer {
    padding: 1rem 0;
    background-color: #FF4848;
    text-align: center;
    margin: 0;
}

footer p {
    margin: 0;
    color: #aa1e24;
    letter-spacing: 3px;
    font-size: .8rem;
    font-weight: 700;
}